<section id="rfm" 
  data-controller="rfm"
  data-rfm-data1-value="<%= @data1.to_json %>"
  data-rfm-data2-value="<%= @data2.to_json %>"
  >

  <div class="grid grid-cols-2 mb-8">
    <%= render partial: "rfms/rfm_chart" %>
    <%= render partial: "rfms/rfm_table" %>
  </div>

  <div class="max-w-[860px] mb-8 p-4 bg-gray-50 rounded-md">
    <div class="list-item-title"></div>
    <div class="item-detail item-detail-header mb-2 pb-2 border-b border-b-gray-200 font-semibold text-gray-700 text-sm">
      <div>Customer name</div>
      <div>Customer contact</div>
      <div>Days</div>
      <div>Latest order date</div>
      <div>Order count</div>
      <div>Total amount</div>
    </div>
    <div id="list-item-detail" data-rfm-target="listItemDetail" class="text-sm">
      --- Please select cutomer group to see details ---
    </div>
  </div> <!-- list item detail -->

  <!--
  <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
    <div>days </div>
    <div>order_count </div>
    <div>sum_total_amount </div>
    <div>customer_name </div>
    <div>R</div>
    <div>F</div>
    <div>M</div>
  </div> <!-- header

  <%# @data.each do |row| %>
    <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
      <div><%#= row[:days] %></div>
      <div><%#= row[:order_count] %></div>
      <div><%#= row[:sum_total_amount] %></div>
      <div><%#= row[:customer_name] %></div>
      <div><%#= row[:r_score] %></div>
      <div><%#= row[:f_score] %></div>
      <div><%#= row[:m_score] %></div>
    </div>
  <%# end %>
  -->
</section>
