.axis-title-y {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  padding-left: 20px;
}

.axis-scale-y {
}

.axis-title-x {
  text-align: center;
}

.axis-scale-x {
  text-align: center;
}

.champion {
  background-color: #07c9d6;
  grid-area: champion;
}

.royal {
  background-color: #08a8f0;
  grid-area: royal;
}

.cant_lose {
  background-color: #fcbe24;
  grid-area: cant-lose;
}

.risk {
  background-color: #fda5a5;
  grid-area: risk;
}

.sleep {
  background-color: #ef4444;
  grid-area: sleep;
}

.potential_royal {
  background-color: #10b981;
  grid-area: potential-royal;
}

.hibernating {
  background-color: #a6b5fb;
  grid-area: hibernating;
}

.need_attention {
  background-color: #f97315;
  grid-area: need-attention;
}

.promising {
  background-color: #f59e0c;
  grid-area: promising;
}

.new {
  background-color: #6de7b7;
  grid-area: new;
}

.cell {
  position: relative;
  opacity: 1.0;
}
/*
.champion, .royal, .cant_lose,
.risk, .sleep, .potential_royal,
.hibernating, .need_attention, .promising, .new {
  position: relative;
  opacity: 1.0;
}
*/
.champion:before, .royal:before, .cant_lose:before,
.risk:before, .sleep:before, .potential_royal:before,
.hibernating:before, .need_attention:before, .promising:before, .new:before {
  content: attr(data-percentage);
  position: absolute;
  top: 4px;
  right: 12px;
  color: #2E2E2E;
  font-size: 24px;
  font-weight: 700;
}

.champion:after, .royal:after, .cant_lose:after,
.risk:after, .sleep:after, .potential_royal:after,
.hibernating:after, .need_attention:after, .promising:after, .new:after {
  content: attr(data-customers);
  position: absolute;
  top: 36px;
  right: 12px;
  color: #2E2E2E;
}

.rfm-cells {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: 
    "cant-lose   cant-lose   royal          royal           champion"
    "risk        risk        royal          royal           champion"
    "risk        risk        sleep          potential-royal potential-royal"
    "hibernating hibernating need-attention potential-royal potential-royal"
    "hibernating hibernating need-attention promising new";
}
.drop-cell {
  opacity: 0.33;
}
:popover-open {
  position
}
