<div 
  data-controller="total-sale-chart"
  data-total-sale-chart-data-value="<%= amount_by_product.to_json %>"
  class="grid grid-cols-[500px_1fr] gap-x-4">

  <div id="total-sale-chart" 
    data-total-sale-chart-target="chart"
    class="my-4 w-[500px] h-[370px]">
  </div>

  <div class="mt-[60px] font-kanit text-[15px] font-light">
    <% amount_by_product.each do |item| %>
      <div class="grid grid-cols-[200px_120px] border-b border-gray-300 mb-1 pb-1">
        <div><%= item[:product].capitalize %></div>
        <div><%= number_with_delimiter item[:amount] %></div>
      </div>
    <% end %>
    <div class="grid grid-cols-[200px_120px] border-b-2 border-gray-800 mb-1 pb-1">
      <div>ยอดรวมทั้งหมด</div>
      <div data-total-sale-chart-target="totalAmount"><%= number_with_delimiter amount_by_product.inject(0){|acc,p| acc + p[:amount]} %></div>
    </div>
  </div> <!-- sale by product table -->
</div> <!-- total sale pie chart -->

