<header class="flex justify-between py-2 px-4">
  <div>
    <%= link_to "DashboardDemo", root_path %>
  </div>  
  <div class="flex gap-2 text-sm text-gray-700">
    <div><%= current_user.email %></div>
    <div class="text-gray-300">|</div>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
</header>

